
.intLink {
    cursor: pointer;
}

img.intLink {
    border: 0;
    outline: 0;
    height: 32px;
}

#toolBar1 select {
    font-size: calc(.6vh + .6vw);
}

#toolBar2 img {
    height: calc(1vh + 1.2vw);
}


#htmlEditorPane {
    position: relative;
    height: calc(100vh - 280px);
    padding-left: 5px;
    padding-bottom: 18px;
    padding-right: 18px;
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
    -webkit-user-select: text;
    user-select: text;
}

@media (min-width: 576px) { 
	#htmlEditorPane {
    	width: 95vw;
	}
}

@media (min-width: 768px) { 
	#htmlEditorPane {
    	width: 80vw;
	}
}

@media (min-width: 992px) { 
	#htmlEditorPane {
    	width: 72vw;
	}
}

@media (min-width: 1200px) { 
	#htmlEditorPane {
    	width: 72vw;
	}
}


#textBox #sourceText {
    padding: 0;
    margin: 0;
    white-space: pre-line;
}

#editMode label {
    cursor: pointer;
}


#htmlEditorPane > *  {
  border: 1px dotted #fafafa;
}


#htmlEditorPane > * > * {
  border: 1px dotted #f0f0f0;
}


#htmlEditorPane > * > * > * {
  border: 1px dotted #e7e7e7;
}


#htmlEditorPane > * > * > * > * {
  border: 1px dotted #dddddd;
}


#htmlEditorPane > * > * > * > * > * {
  border: 1px dotted #d3d3d3;
}

#htmlEditorPane > * > * > * > * > * > * {
  border: 1px dotted #c9c9c9;
}

#htmlEditorPane > * > * > * > * > * > * > * {
  border: 1px dotted #bfbfbf;
}

#htmlEditorPane > * > * > * > * > * > * > * > * {
  border: 1px dotted #b6b6b6;
}

#htmlEditorPane > * > * > * > * > * > * > * > * > *  {
  border: 1px dotted #acacac;
}

#htmlEditorPane > * > * > * > * > * > * > * > * > * > * {
  border: 1px dotted #a2a2a2;
}

#htmlEditorPane > * > * > * > * > * > * > * > * > * > * > * {
  border: 1px dotted #989898;
}

#htmlEditorPane > * > * > * > * > * > * > * > * > * > * > * > * {
  border: 1px dotted #8e8e8e;
}

#htmlEditorPane > * > * > * > * > * > * > * > * > * > * > * > * > * {
  border: 1px dotted #858585;
}

#htmlEditorPane > * > * > * > * > * > * > * > * > * > * > * > * > * > * {
  border: 1px dotted black;
}

#htmlEditorPane > * > * > * > * > * > * > * > * > * > * > * > * > * > * > * {
  border: 1px dotted black;
}

#htmlEditorPane > * > * > * > * > * > * > * > * > * > * > * > * > * > * > * >*  {
  border: 1px dotted black;
}
.text-center {
	text-align: center;
}